form{
    border: 1px solid black;
    background-color: aqua;
    width: 290px;
    display: inline-block;
    margin-top: 156px;
    height: 290px;
    border-radius: 28px;
    box-shadow: 8px 8px 10px purple;

}
body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-image:url('image/bgfinall.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.input{
    margin-top: 20px;
    border-radius: 8px;
    height: 24px;
    width: 70%;
    border: 1px;
}

.button{
    margin: 9px;
    margin-top: 28px;
    background-color: red;
    height: 34px;
    border-radius: 20px;
    border: 0px white;
    color: white;
    width: 91px;
    cursor: pointer;

}
.button:hover{
    background-color: white;
    color: black;
}
#skip{
    display: block;
    height: 34px;
    width: 84px;
    border: 1px;
    cursor: pointer;
    border-radius: 17px;
    color: white;
    background-color: blue;
    margin-left: 47%;
    margin-top: 25px;
    margin-bottom: -20px;


}
#skip:hover{
    background-color: white;
    color: black;
}
nav{
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 0px;
    background-color:aqua;
    border-bottom: 2px solid blueviolet;
    
}
.welcome{
    margin-top:100px;
    display: inline-block;
    border: 2px solid purple;
    color: purple;
    background-color: #f2f2f2;
    margin-bottom:20px;
    text-align:left;
}

a{
    text-decoration: none;
   
}


ul{
    list-style-type: none;
    text-align: right;
    margin: 0px;
    margin-right: 30px;
    height: 90px;
    padding: 0px;
    justify-content: flex-end;
    display: flex;
  }

.nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    margin-left: 90px;
    font-size: larger;
    margin-top:16px ;
    height: 30px;
    border-radius: 6px;
}

.nav:hover{
    cursor: pointer;
}

#homeimg{
    max-width: 58px;
    max-height: 58px;   
   padding: 0px;
}
#homeLi{
    margin-right: 230px;
}
#Home{
    margin-top: 100px;
    width:100%;
    text-align: center;
 }

 #newLogin{
    background-color: lightgray;
    width: 80px;
    text-align: center;

 }
 #uploadNav{
    margin-right: 220px;
 }
 #newLogin:hover{
    background-color: white;
    
 }
 * {box-sizing: border-box;}
.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  width: 85%;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 20px;
  padding: 8px 12px;

}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: darkblue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
 #cards{
    display: inline-block;
    width: 25%;
    height: 8%;
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
    background-color:purple;
    color: cyan;
    border: 1px solid black;
    border-radius: 14px;
    box-shadow: 8px 8px 10px purple;

 }

 

 #image img{
    height: 220px;
    width: 100%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;

 }
 #Title{
    margin:-20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 5px;
 }
 #boxButton{
    margin: 5px;
 }

 #description{
    margin: 0px;
    margin-left: 15px;
    text-align: left;

 }
 
#Findrooms{
    margin-bottom: 300px;
    margin-top: 300px;
    width: 100%;
    margin-left: auto;
}
.options{
height: 30px;
width: 200px;
border: 1px solid;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;

}

#Upload{
    margin-top: 200px;
    margin-bottom: 400px;

}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#loginButton{
    background-color:blue;
}
#loginButton:hover{
    background-color: white;
}
#UploadForm{
    margin-top: 0px;
    height: 670px;
    width: 400px ;

    
}
#paymentform{
    margin-left: -190px;
    border:0px;
    background-color:white;
    width:0px;
    display: inline-block;
    margin-top:0px;
    height:0px;
    border-radius: 0px;
    box-shadow: 8px 8px 10px purple;

}
#searchIcon{
    height: 12px;
    width: 22px;
    cursor: pointer;
}
#cardsBottom{
    display: inline;
}
#sortOrderButton{
font-size: 14px;
border-radius: 4px;
width: 140px;
height: 30px;
}
#searchButton{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 30px;
    margin-left: -4px;
    margin-top: 20px;
    border: 1px solid;


}
#Help{
    margin-bottom: 300px;}

#help-container{
    backdrop-filter: blur(8px) saturate(40%);
    width: 100%;
    display: flex;

}
#help-image{
    width: 245%;
    margin-right: 100px;
}
#cityimg{
    width:100%;

}
#help-text{
    backdrop-filter: blur(8px) saturate(40%);
    color: white;
    width: 70%;
    font-size: 31px;
    font-family: fantasy;
}
#unhideButton{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 30px;
    margin-left: -4px;
    margin-top: 20px;
    border: 1px solid;


}
#clientLocation{
    border-radius: 8px;
}
#review{
    margin-bottom: 200px;
}
footer{
    background-color: aqua;
}
.footer{
display: flex;

}
#footerlogo{
    height: 250px;
    margin-left: 650px;
    margin-bottom: 0px;
}
.footerImg{
    height: 38px;
    margin: -12px;
    padding-right: 13px;
}
#phoneImg{
    height: 25px;
    margin: -6px;
    padding-right: 16px;
}
#homeText{
    font-size: 40px; font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#clientRent{
    margin-top: 0px;
}
#clientDetailedLocation{
    margin-top: 30px;
}
#clientNoRooms{
    border-radius: 8px;
}



@media screen and (max-width:1300px){
    #homeLi{
        margin-right: 70px;
    }
    #newLogin{

        margin-left: 0px;
    }
    .nav{
        margin-right: 10px;
        margin-left: 70px;
    }


}

@media screen and (max-width:1170px){
    #homeLi{
        margin-right: 30px;
    }
    #newLogin{

        margin-left: 0px;
    }
    
    #uploadNav{
        margin-right:100px;

    }
    #image img{
        height: 250px;
        width: 100%;
        
    
     }
    
}

@media screen and (max-width:960px){
    #homeLi{
        margin-top:16px;
        margin-right: 20px;
    }
    #newLogin{
       height: fit-content;
        margin-left: 0px;
        width: fit-content;
    }
    #contactUs{
        display: none;
    }
    .nav {
        margin-top: 25px;
        margin-right: 20px;
        margin-left: 33px;
        font-size: 32px;
    }
    nav{
        height:90px;
    }
    #uploadNav{
        margin-right: 50px;

    }
    h2{
        font-size: 20px;
    }
    #homeText{
        font-size: 30px;
    }
    #cards{
        width: 40%;
        margin-right: 50px;
     }
}
@media screen and (max-width:440px){
    #help-image {
        width: 400%;
    }
#help-text{
    font-size: 20px;
    color: white;
}
    #review{
        
    width: 900px;
}
    #review-box{
        height: 300px;
        width: 65%;
    }
    #submitReview{
        height: 50px;
        width: 100px;

    }
    
    
   

    #searchButton{
    height: 50px;
    width: 50px;
 }
 #unhideButton{
    height: 50px;
    width: 50px;
 }

    body{
    
        text-align: center;
        margin: 0px;
        padding: 0px;
        background-image: none;
        background-color: black;

    
  }
  #image img{
    height: 410px;
    width: 100%;
 }

  .welcome {
    margin-top:125px;
    margin-left: 80px;
    text-align: center;
    width: 750px;
    font-size: 34px;
}

    .slideshow-container {
        width: 200%;
        margin-left: 20px;
      }
    

#Upload{
    margin-left: 170px;
    width: 600px;
    display: block;
    
 }
 #skip{
    margin-left: 172px;
 }
 
 #Help{
    
    display: block;
    width: 900px;
   
 }
 
#Title{
    font-size: 35px;
}
 #cards {
    font-size: 30px;
    width: 180%;
    margin-left: 85px;
    height: 6%;
}
#cardsBottom {
    display: block;
    margin-left: -100px;
    margin-right: 405px;
}
 #homeText{
  margin-left: 270px;
  display: block;
width: 400px;
  
}
#Findrooms {
    margin-left: 100px;
    display: block;
    width: 710px;
}
#locationSelect {
    width: 300px;
    height: 50px;
}

footer{
    background-color: transparent;
}
#footerlogo{
    margin-bottom: -100px;
}
}

@media screen and (max-width:380px){
    #cards{
        width: 210%;
    }
    #cardsBottom{
        width: auto;
    }
    .slideshow-container {
        width: 240%;
        margin-left: 30px;
      }

    

}
@media screen and (max-width:340px){
  
    #cards{
        width: 240%;
    }
    #cardsBottom{
        width: 57%;
    }
    .slideshow-container {
        width: 260%;
        margin-left: 50px;
      }

 }   


@media screen and (max-width:300px){
    #cards{
        width: 260%;
    }
    #cardsBottom{
        width: 50%;
    }
    .slideshow-container {
        width: 280%;
        margin-left: 70px;
      }

    

}